html, body {
  height: 100%;
}


body {
  font-family: 'OpenSans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  line-height: 1.42;
  font-size: 16px;
  font-weight: 400;
  margin: 0;

  position: relative;
}

.wrapper {
  min-height: 100%;
  min-width: 1140px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;  
  z-index: 5;
}

.wrapper__base {
  background-color: #29292c;
}

.wrapper__base::before {
  content: "";
  width: 100vw;
  height: 1050px;
  object-fit: contain;
  background-image: url('../pictures/lion-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}


.wrapper__base::after {
  width: 925px;
  height: 840px;
  content: "";
  background-image: url('../pictures/bottom-pic.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10%;
  right: 8%;  
  z-index: -1;

}

.container {
  margin: 0 auto;
  width: 1140px;
  display: flex;


 // border: 1px solid red;
}


.maincontent {
  display: flex;
  flex-direction: column;
  position: relative;
}


ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}