.bread-crumbs__list {
  color: white;
  font-size: 14px;
  font-weight: 400;
  display: flex;

}

.bread-crumbs__list-service {
  margin-bottom: 25px;
}

.bread-crumbs__item {
  margin-right: 5px;
  }

.bread-crumbs__item:last-child {
  margin-right: 0;
  font-weight: 700;
}

.bread-crumbs__item:last-child::before {
  content: "/";
  color: white;
}

