
.header__container {
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.right-side {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}