.news {
  margin-bottom: 100px;
}

.news__container {
  flex-direction: column;
}

.news__subtitle {
  margin-bottom: 55px;
}

.news__list {
  display: flex;
  justify-content: space-between;

}

.news__item {
  position: relative;
}

.news__img {
  width: 555px;
  height: 390px;
  opacity: 0.4; 
}

.news__pic {
  width: 100%;
  height: 100%;
}

.news__desc {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 0;
  max-width: 440px;
}

.news__date {
  font-size: 14px;
  font-weight: 400;
}

.news__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;

  margin: 25px 0 10px;
}

.news__text {
  font-size: 16px;
  font-weight: 400;
}