.promo {
  background-color: #e5c288;
}

.promo__title {
  color: #202123;
  font-size: 48px;
  font-weight: 700;
  width: 50%;
  padding: 100px 50px 100px 0;
}

.promo__img {
  width: 530px;
  height: 425px;

  margin: 10px 0 0 10px;
}

.promo__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
