.call {
  background-image: url('../pictures/lion-head-wide.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.call__container {
  display: flex;
  flex-direction: column;       
}


.call__title {
  margin: 140px 0 100px;
}

.service {
  margin-bottom: 70px;
}

.service__list {
  display: flex;
  flex-direction: column;
}

.service__item {
  display: flex;
  padding: 60px 60px 50px 40px; 
}

.service__item:nth-child(2n) {
  background-color: #f4f5f5;
}

.service__img {
  width: 458px;
  height: 310px;

  margin-right: 65px;
}

.service__pic {
  width: 100%;
  height: 100%;
}

.service__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #202123;
  
}

.service__desc {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service__text {
  color: #818181;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;

  margin: 35px 0 30px;
}

.service__btn {
  background-color: #353538;
  transition: 1s;
}

.service__btn:hover {
  background-color: #dfb56d;
}